<% title "Nomination Instructions" %>
<h2>Nomination Instructions</h2>
<blockquote>
  <p>Dear Colleagues,</p>
  
	<p>It is my pleasure to announce the opening of nominations for the Class of <%= Time.now.year %> Siebel Scholars.  Following the successful inauguration of the Awards four years ago, with five outstanding Scholars each year, we are beginning the fifth year of this prestigious award program made possible by the generous donation by the Siebel Scholars Foundation.</p>

	<p>Each year, five Siebel Scholars are selected and each Siebel Scholar will receive directly an award in the amount of $35,000. This award must be <em>in addition to any other financial support received by the graduate student.  The Institute of Engineering in Medicine is working with the Jacobs School of Engineering in administering the nomination, review, and other processes related to these Awards.</p>

	<p>The purpose of the Siebel Scholars Program is to reward academic achievement and leadership in the discipline of bioengineering.  Ph.D. students in their last year of study, in any of the six departments of the Jacobs School, with their dissertation emphasis on bioengineering (including Ph.D. students working in areas such as Bioinformatics and Biomedical Devices) are eligible.   Nominations should be made by the faculty advisor, with appropriate information supplied by the student candidate.</p>

	<p>Detailed information on the Siebel Scholars Program, including the selection criteria and award process, is given on the <%= link_to 'attached document', asset_path("Nominating-Class-of-2013.pdf") %> from the Foundation. The nominations will be reviewed by a selection committee to select five Siebel Scholars based on these criteria. We will submit the final recommendations before July 10, 2013, to the Siebel Scholars Foundation for approval.</p>
  
	<p>The five Class-of-2014 Siebel Scholars to be selected are expected to attend the Annual Siebel Scholars Conference in October 2014 (Date, location and topic to be announced). Attendees at this Conference will include select faculty, past and present Siebel Scholars from universities across the globe, Foundation President Mr. Thomas M. Siebel, the Foundation staff, and other distinguished guests.  The Siebel Scholars Foundation covers the costs for the current Siebel Scholars to attend the Annual Conference.  There are 785 total Siebel Scholars (including alumni) worldwide.</p>

	<p>The nomination should consist of a <strong>2-page letter on the faculty’s letterhead with margins of 1 inch and font size no smaller than Arial 11</strong>, summarizing the basis of the nomination according to the selection criteria outlined on the attached document. Please include in the letter statements that (1) the candidate is expected to complete his/her Ph.D. study in the Spring Quarter of 2013*, and (2) the candidate will attend the Annual Siebel Scholars Conference. Please attach the <strong>resume (including list of publications, if any)</strong>, a <strong>head-shot picture (high resolution, digital, color photograph)</strong>, and <strong>transcript of academic records</strong> of the nominee, along with <strong>nominee’s statement</strong> on his/her plans for the last year of PhD research as well as the future plan (total no more than one page, with margins of 1 inch and font size no smaller than Arial 11), and other <strong>supporting documents</strong>, such as reprints, if applicable. <strong>Please submit your nominations on the website <%= link_to "https://siebel.ucsd.edu", new_user_registration_path %></strong>. The site will be open on Monday, May 13, and will <strong>close at 3:00 pm on Monday, June 5 2013.</strong></p>

  <p>An information session has been scheduled on Monday, May 13, 2013, in the Fung Auditorium from 3:00-4:00 pm.</p>
  
	<p>I wish to thank you in advance for your cooperation in taking this wonderful opportunity to recognize our stellar Ph.D. students who are on the frontier of bioengineering-related research.</p>

	<p>Best regards,<br /><br />Shu Chien<br/>Director, Institute of Engineering in Medicine</p>

	<p><em>* There is the possibility of extending into the summer months upon approval during Spring Quarter 2014.</em></p>
</blockquote>

<%= content_tag :h2, link_to("Nominate A Scholar", new_user_registration_path), :id => :links if Time.now > Date.new(2013,5,7) && Time.now < Settings.deadline %>