<h2>Thanks</h2>

<p>Your nomination has been received. We have sent an email confirmation with a link to update the nomination.</p>

<p>Nominations will no longer be accepted or modified after <strong><%= Settings.deadline.strftime("%l:%M %p on %b %e") %></strong>.</p>