<h2>Thanks</h2>

<p>Your nomination has been received. We have sent an email confirmation with a link to update the nomination.</p>

<p>Nominations will no longer be accepted or modified after <strong>3:00 PM PST on June 5</strong>.</p>