<p>Someone has requested a link to change your password assigned to your account at https://siebel.ucsd.edu.  You can change your password through the link below until <strong><%= (DateTime.now + (Devise.reset_password_within)).strftime('%a, %e %b %Y %H:%M %z')%></strong></p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :protocol => "https" %></p>

<p>Your password will not change until you access the link above and create a new one.</p>

<p>Please contact us at siebel@ucsd.edu if you did not make this request.</p>

